body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .header1 {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }

  .sh1 {
    margin-right: 3em;
  }

  .sh2 {
    margin-right: 3em;
  }

  .header2 {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f16e;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }